<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {%load static%}
    <title>退出登录</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-image: url('{% static "tea_signin.png" %}');
            background-size: cover;
        }
        .container {
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .text-center {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="text-center">
            <h1>您已经退出系统</h1>
            <form method="post" action="index">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">重新登录</button>
            </form>
        </div>
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
